@require "asimov.highlight"
@import "lists"

$light = #f8f8f8
$dark = #515151
$less_dark = #515151
$primary = #610007

body, div, h1, h2, h3, h4, h5, h6
  margin 0
  padding 0

body
  font-family 'Source Sans Pro', sans-serif
  font-size 1.3rem
  color $dark

p
  line-height 1.3


.sidebar
  background-color $primary
  color $light
  padding 1.5rem

  #baplogo
    max-width 180px
    fill $light
    margin 0 auto
    display block

  ul
    list-style none
    padding 0
    margin 1rem 0 0 0

    a
      display block

  a
    color $light
    text-decoration none

  .active
    position relative
    padding-left 0.8rem
    :before
      content "»"
      position absolute
      top -0.1rem
      margin-left -0.8rem
      margin-right 0.5rem

.sidebar__tagline
  margin-bottom 2rem
  font-size 1.5rem
  display none

.sidebar__credits
  margin-top 2rem
  display none

.main
  max-width 700px
  padding 1rem

  h1
    margin-bottom 0.5rem

  p
    margin 0.5rem 0

  a
    color $less_dark
    font-weight bold
    text-decoration none
    &:hover
      color $primary

  ul
    margin-left -0.5rem

  code
    font-size 1rem

.headline
  .headline__header
    position relative
    margin-top 1rem
    margin-bottom 0.8rem
    &:hover
      .headline__symbol
        display block
  h2
    .headline__symbol
      left -1.5rem
  h3
    .headline__symbol
      left -1.2rem
  h4
    .headline__symbol
      left -1rem
  .headline__symbol
    position absolute
    padding-right 1rem
    display none

.bap-editor
  position relative

.bap-editor__controls
  position absolute
  right 0
  top 0
  clear left
  opacity 0.5

  button
    border none
    float left
    display block
    padding 10px 15px
    font-size 2rem
    width 70px
    height 60px

    &:hover
      cursor pointer

  label
    padding 10px 15px
    float left
    display block
    font-size 2rem
    background-color lightgrey

.pagination-links
  clear both
  .prev-link
    float left
  .next-link
    float right

@media screen and (max-width: 499px)
  .sidebar
    ul
      -webkit-column-count 3
      -moz-column-count 2
      column-count 2

@media screen and (min-width: 500px) and (max-width: 799px)
  .main
    padding 2rem
    h1
      margin-bottom 1rem
  .sidebar
    ul
      text-align center
      li
        display inline-block
      li:not(:last-child)
        margin-right 1rem

@media screen and (min-width: 800px)
  .main
    padding 3rem 3rem 3rem 21rem
    h1
      font-size 3rem
      margin-bottom 1.5rem
  .sidebar
    text-align left
    width 14rem
    position fixed
    height 100%
    #baplogo
      margin 0.5rem 0 0 0
  .sidebar__credits
  .sidebar__tagline
    display block
