@require "asimov.highlight"

$light = #f8f8f8
$dark = #0d0d0d
$primary = #610007

body, div, h1, h2, h3, h4, h5, h6
  margin 0
  padding 0

body
  font-family 'Source Sans Pro', sans-serif
  font-size 1.3rem
  // background-color $light
  color $dark

.sidebar
  background-color $primary
  color $light
  width 15rem
  position fixed
  height 100%
  padding 1.5rem

  #baplogo
    max-width 180px
    fill $light
    margin-top 0.5rem

  ul
    list-style none
    padding 0

  a
    color $light
    text-decoration none

  .active
    font-weight bold

.sidebar__tagline
  margin-bottom 2rem
  font-size 1.5rem

.sidebar__credits
  margin-top 2rem

.main
  max-width 700px
  padding 3rem 3rem 5rem 21rem

  h1
    font-size 3rem
    margin-bottom 1.5rem

  p
    margin 0.5rem 0

  a
    color $dark
    font-weight bold
    text-decoration none
    &:hover
      color $primary

  ul
    margin-left -0.5rem

  code
    font-size 1rem

.headline
  .headline__header
    position relative
    margin-top 1rem
    margin-bottom 0.8rem
    &:hover
      .headline__symbol
        display block
  h2
    .headline__symbol
      left -1.5rem
  h3
    .headline__symbol
      left -1.2rem
  h4
    .headline__symbol
      left -1rem
  .headline__symbol
    position absolute
    padding-right 1rem
    display none
