{{import "header"}}

<div class="container">
  {{import "logo"}}

  <div class="tagline">
    {{text}}
  </div>

  <ul class="menu">
    <li><a href="https://www.npmjs.com/package/bap">Download v0.3</a></li>
    <li><a href="http://adamrenklint.com/bap">Examples</a></li>
    <li><a href="https://github.com/adamrenklint/bap/blob/master/README.md">Documentation</a></li>
  </ul>

  <div class="creditline">
    Made by {{link "http://adamrenklint.com" "Adam Renklint"}}
  </div>
</div>

{{import "footer"}}
