<div class="sidebar">
  {{#link "/" title="Home"}}
    {{import "logo"}}
    <p class="sidebar__tagline">{{ site.tagline }}</p>
  {{/link}}
  {{menu "/"}}
  <p class="sidebar__credits">Made by <a href="http://adamrenklint.com" target="_blank">Adam Renklint</a></p>
</div>
